body {
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: wheat;
    padding-left: 10px;padding-right: 10px;
}
.darkmode{
   background-image: url(sparkle.jpg);
}
.darkmode #Calculator{
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
}
.darkmode .Number{
    color:white;
}
.darkmode .Number:hover{
    border-color: white;
    border-radius: 50%;
    border-width: 1px;
}
.darkmode #Container{
    background-image: url(sparkle.jpg);
}
.darkmode #box span{
    background-color: white;
}
.darkmode #night{
    border:1px solid white;
    border-radius: 15px;
}
#Container{
position: relative;
width: 100%;
height: fit-content;
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(img.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 20px auto;
contain: content;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 5px;
border-radius: 15px;
}
a{
    position: relative;
    background-color: gray;
  text-decoration: none;
  text-align: center;
 width:100px;
 font-size: large;
  transition-property: width;
  transition-duration:2s;
  margin: 10px auto;
  display: block;
}
a:hover{
    width: 130px;
}
.Number:hover{
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
}


#Calculator{
    width: 320px;
    height: fit-content;
    max-width: 100%;
    max-height: fit-content;
    position: relative;
    background-color: whitesmoke;
    margin: 0px auto;  
   border-radius: 15px;
    padding-top: 5px;
    
}
#Result{
    top: 10px;
   height: 75px;
   background-color: transparent;
   
}
#History{
    font-size: small;
    text-align: right;
    color: dimgray;
    margin-right: 10px;
    background-color: transparent;
    height: 10px;
}
#Output{
text-align: right;
font-size: 25px;
height: 30px;
padding-right: 5px;
background-color: transparent;
}

.Operator ,.Number ,.Empty{
    width: 45px;
    height: 45px;
    margin: 15px;
    border-radius: 50%;
    border-width: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.Number,.Empty{
    background-color: transparent;
}
.Number,.Operator{
    cursor: pointer;
}
.Number:focus,.Empty:focus,.Operator:focus{
    outline: 10px;
   }

button:nth-child(3){
    background-color: gold;
}
button:nth-child(4){
    background-color: red;
}
button:nth-child(8){
    background-color:orange;
}
button:nth-child(12){
    background-color: green;
}
button:nth-child(16){
    background-color: yellow;
}
button:nth-child(20){
    background-color: purple;
}
#C{
    background-color:lightblue;
}
#CE{
    background-color: blue;
}
#list {
    z-index: 1;
    display: block;
    margin-top: 2px;
    margin-left: 2px;
     position: relative;
    background-color: transparent;
    width: 70px;
    right:0px;
    visibility: hidden;
    height: 0px;
}
#slide.active #list{
    z-index: 1;
    opacity: 75%;
    transition: ease-out 2s;
    visibility: visible;
    right: -20px;
}

#box span{
    z-index: 2;
    display: block;
    margin-top: 2px;
   position: relative;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 2px;
    
   
    
}
#slide{
    width: 20px;
}
 .Number:nth-child(1),.Number:nth-child(2){
   background-color: gray;
   width: 60px;
   height: 60px;
 }
 #night{
    margin: 0px auto;
    background-color: transparent;
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(moon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 0px;
    color: white;
    outline-style: none;
}